.background {
	-fx-background-color: #3f3f61;
	-fx-background-radius: 10;
}

.parent-color {
	-fx-background-color: #2b2b42;
}

.check-box .box {
	-fx-background-color: -fx-shadow-highlight-color, #d9d9fc;
	-fx-background-radius: 5;
}

.check-box:selected .box {
	-fx-background-color: #9999f0;
	-fx-background-radius: 5;
}

.check-box:selected .mark {
    -fx-background-color: #ffffff;
}

.slider .thumb {
	-fx-background-color: -fx-shadow-highlight-color, #79869c;
}

.slider .track {
	-fx-background-color: #ffffff;
	-fx-border-width: 2;
	-fx-border-color: #dadae8;
	-fx-border-radius: 50;
}

.text-field {
	-fx-background-color: -fx-shadow-highlight-color, #d9d9fc;
	-fx-background-radius: 5;
}

.button {
	-fx-background-color: #9999f0;
	-fx-background-radius: 10;
}

.table-view {
	-fx-background-color: -fx-shadow-highlight-color, #d9d9fc;
	-fx-background-radius: 5;
}

.table-view {
    -fx-background-color: #9999f0;
	-fx-background-radius: 12;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #5e5e91;
	-fx-background-radius: 10 10 0 0;
}

.table-view .column-header {
	-fx-text-background-color: #c3c0c0;
    -fx-background-color: transparent;
}

.table-view .table-cell{
	-fx-border-color: transparent;
}
.table-row-cell:hover {
    -fx-text-background-color: #01015e;
}
.table-row-cell:odd {
    -fx-background-color: #d9d9fc;
}
.table-row-cell:even {
    -fx-background-color: #b6b6d1;
}

.table-row-cell:selected,
.table-row-cell:odd:selected,
.table-row-cell:even:selected {
	-fx-background-color: #4c4cf5;
	-fx-font-weight: bold;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #5e5e91;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #5e5e91;
}