.split-pane *.split-pane-divider {
   -fx-padding: 0 1 0 1;
   -fx-background-color: #161d34;
}

.button {
    -fx-cursor: hand;
}


#bSide:focused {
   -fx-border-color: #5C6BC0;
   -fx-border-width: 2;
   -fx-border-radius: 15;
}

#bSide:hover {
   -fx-background-color: #454A66;
   -fx-background-radius: 15;
}

#bSide:pressed {
   -fx-background-color: #595a85;
}

#bSide:selected {
   -fx-background-color: #5C6BC0;
   -fx-background-radius: 15;
}

#bSide {
    -fx-background-color: rgb(0,0,0,0);
    -fx-background-radius: 20;
}

#bAccount {
   -fx-background-color: rgb(219, 219, 219);
    -fx-background-radius: 25;
}

#bNotification {
   -fx-background-color: rgb(0,0,0,0);
}

#bNotification:hover {
   -fx-background-color: #454A66;
   -fx-background-radius: 30;
}

#bNotification:pressed {
   -fx-background-color: #5C6BC0;
   -fx-background-radius: 30;
}

#bPremium {
   -fx-background-color: #5C6BC0;
   -fx-background-radius: 30;
}

#bPremium:hover {
   -fx-background-color: #454A66;
   -fx-background-radius: 30;
}

#bPremium:pressed {
   -fx-background-color: #5C6BC0;
   -fx-background-radius: 30;
}

#borderPane {
   -fx-background-color: #212336;
}

#rightAP {
   -fx-background-color: #182039;
}

.context-menu {
    -fx-accent: #282b47;
    -fx-background-color: #212336;
    -fx-border-color: #212336;
    -fx-border-width: 1px;
    -fx-padding: 2px;
    -fx-border-radius: 5;
    -fx-text-fill: #bfbfbf;
    -fx-mid-text-color: #bfbfbf;
}

.context-menu .menu-item {
    -fx-text-fill: #bfbfbf;
    -fx-padding: 5px 10px;
}

.context-menu .menu-item:hover, .context-menu .menu-item:selected {
    -fx-background-color: #282b47;
     -fx-text-fill: #bfbfbf;
}

.context-menu .separator-menu-item .separator {
    -fx-background-color: #282b47;
    -fx-padding: 0 0 1px 0;

}